body {
    padding: 60px 0 60px 0;
    background: url("https://source.unsplash.com/twukN12EN7c/1920x1080") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navbar {
    background-color: transparent !important;
}
.btn, .card, .dropdown-item, .dropdown-item:active, .list-group-item, .close, .close:hover, a:active{
    color: var(--white);
}
.btn, .card, .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.4) !important;
}
.dropdown-item:active{
    background-color: white;
    color: black;
}
.panel > a:hover, .mng-item{
    text-decoration: none;
    color: black;
}
.card-columns > .card {
    border-radius: 15px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3) !important;
}
.list-group-item, .table {
    background-color: transparent !important;
}
.table th, .table td{
    border-color:  rgba(0, 0, 0, 0.1) !important;
}
.table {
    border-color: var(--white) !important;
}
.card-img-top {
    height: 15rem;
    object-fit: contain;
    padding-top: 0.5rem;
}
.prf-img {
    padding: 0.5rem;
    width: 7rem;
    height: 7rem;
    border-radius: 15px;
}
.pagination {
    padding-top: 1rem;
}
.pagination > li > a, .pagination > li > a:hover{
    color: black;
    border-color: rgba(0, 0, 0, 0.2);
}
.card-footer  > * {
    margin: 0 0.2rem 0 0.2rem;
}
textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    width: 100%;
    border-radius: 5px;
    background-color:  transparent !important;
    color: white;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.5; /* Firefox */
}
body::-webkit-scrollbar       {background-color:transparent;width:16px}
body::-webkit-scrollbar-track {background-color:transparent}
body::-webkit-scrollbar-thumb {background-color:#babac0;border-radius:16px;border:4px solid #fff}
