body {
  padding: 60px 0 60px 0;
  background: url("https://images.unsplash.com/photo-1580745389708-2b93cde2d66b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1700&q=80") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.navbar {
  background-color: transparent !important;
}

.prf-img {
  padding: 0.5rem;
  width: 7rem;
  height: 7rem;
  border-radius: 15px;
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  width: 100%;
  border-radius: 5px;
  background-color: transparent !important;
  color: white;
}

/* remove anchor's default color */
a, a:hover, a:focus, a:active {
  color: inherit;
  text-decoration: none;
}

/* scoll bar styling */
::placeholder {
  color: rgb(50, 50, 50);
  opacity: 0.5;
}
body::-webkit-scrollbar {
  background-color: transparent;
  width: 16px;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid rgb(36, 36, 36);
}

/* muuri default styling */
.grid {
  position: relative;
  opacity: 1;
  transition: opacity 0.8s linear 1s;
}
.item {
  position: absolute;
  margin: 5px;
  z-index: 1;
}
.item.muuri-item-hidden {
  z-index: 0;
}
.item.muuri-item-releasing {
  z-index: 2;
}
.item.muuri-item-dragging {
  z-index: 3;
}
.item-content {
  position: relative;
}
